<h1>Ale ne!</h1>
<h2 style="text-align: center">
Máš psát test z práva na posledním termínu a někdo zavolal bombu!<br>
Najdi všechny bomby a zachraň svých 6 kreditů.
</h2>

<a href={Routes.live_path(@conn, VseMinesweeperWeb.GameLive)} class="button">Spustit hru</a>